* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: grid;
    line-height: 1.6;
    margin: 0px;
    place-items: center;
}

html {
    --scrollbarBG: #1b1b1b;
    --thumbBG: #4d4d4d;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 15px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

a{
    text-decoration: none;
    color: white;
    font-weight: 550;
    transition: 0.3s;
}

a:hover{
    color: #ef9af2;
}

h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

h1>.mag {
    display: inline-block;
    position: relative;
}

h1>.mag>.mag-csil {
    --size: clamp(20px, 1.5vw, 30px);

    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--csil-left);
    position: absolute;
    top: var(--csil-top);
    width: var(--size);
}

h1>.mag>.mag-csil>svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
}

h1>.mag>.mag-csil>svg>path {
    fill: var(--c2);
}

h1>.mag>.mag-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right,
            var(--c1),
            var(--c2),
            var(--c3),
            var(--c1));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

h1>.mag2 {
    display: inline-block;
    position: relative;
}

h1>.mag2>.mag-text2 {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right,
            var(--c4),
            var(--c5),
            var(--c6),
            var(--c7));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.custom-shape-divider-top-1667567540 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1667567540 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1667567540 .shape-fill {
    fill: #5f5f5f;
}

.custom-shape-divider-bottom-1667567604 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667567604 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1667567604 .shape-fill {
    fill: #5f5f5f;
}

.custom-shape-divider-bottom-1667567658 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667567658 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1667567658 .shape-fill {
    fill: #5F5F5F;
}

.custom-shape-divider-top-1667567737 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1667567737 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 59px;
}

.custom-shape-divider-top-1667567737 .shape-fill {
    fill: #5F5F5F;
}

div.v {
    display: flex;
    width: 50vw;
    height: 400px;
    background: linear-gradient(-45deg, #231620, #a88898, #caaaa9, #dbc5cd, #c5b2c2, #231620);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    gap: 20px;
}

.cont{
    max-width: 50vw;
    width: 80%;
    height: auto;
}

div.v img{
    width: 25%;
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0.2px rgba(0, 0, 0, 0.2);
}

div.v img:hover{
    transform: scale(2.7);
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    padding-bottom: 20vh;
    width: 99.2vw;
    scroll-snap-align: start;
}


:root {
    --c1: #ef9af2;
    --c2: #831187;
    --c3: #240c76;
    --c4: #787492;
    --c5: #d6b2a5;
    --c6: #b093a3;
    --c7: #787492;
}

.spec1{
    color: #831187;
}

.spec2{
    color: #4fb9ff;
}

.spec3{
    color: #ffc74f;
}


.navbar{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    max-width: 500px;
    width: 25vw;
    height: 80px;
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 30px;
    transform: translateY(-80%);
    transition: 0.5s;
}

.navbar:hover {
    transform: translateY(0);
}

.navbar img{
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s;
}

.navbar ul li a:hover{
    color: #3d3d3d;
}


#s1{
    background-color: #252525;
    background-size: cover;
}

#s2{
    background-color: #3d3d3d;
    background-repeat: no-repeat;
    background-size: 100%;
}

#s3{
    background-color: #212121;
    background-repeat: no-repeat;
    background-size: 100%;
}

@keyframes rainbow {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}


@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes scale {

    from,
    to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
